<IfModule mod_rewrite.c>
    RewriteEngine On

    # Envia a raiz (/) para a pasta public
    RewriteRule ^$ public/ [L]

    # Envia qualquer outra coisa (/login, /css, etc) para dentro da public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>